---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/BaseLayout.astro";
import Button from '~/components/Button.astro';
import GithubStars from '~/components/GithubStars.astro';
import {fetch11ty} from '~/utils/fetch11ty'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout>
		<div class="grid place-items-center h-screen content-center">
			<Button>Tailwind Button in Astro!</Button>
			<GithubStars />
			<a href="/markdown-page" class="p-4 underline">Markdown MDX is also supported...</a>
		</div>
</Layout>
